@font-face {
	font-family: 'Gilroy';
	src: url('../fonts/Gilroy-Light.woff') format('woff');
	font-display: swap;
  font-weight: 300;
  font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	src: url('../fonts/Gilroy-Regular.woff') format('woff');
	font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	src: url('../fonts/Gilroy-Medium.woff') format('woff');
	font-display: swap;
  font-weight: 500;
  font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	src: url('../fonts/Gilroy-SemiBold.woff') format('woff');
	font-display: swap;
  font-weight: 600;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

:root {
  --main-color: #21A8AE;
}

body {
  font-family: 'Gilroy', sans-serif;
  color: #111;
}

h1, h2, h3, h4, p {
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  margin-right: auto;
  margin-left: auto;
  max-width: 1440px;
}

.section-heading {
  font-weight: 600;
  font-size: 60px;
  line-height: 120%;
}

/* hero */

.hero-container {
  position: relative;
  display: flex;
  min-height: 900px;
  background-color: var(--main-color);
}

.hero-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 50%;
}

.hero-wrapper-left {
  background-image: url(../img/Rectangle\ 48.png);
}

.cell {
  position: relative;
  min-height: 424px;
  border: 0.1px solid rgba(255, 255, 255, .3);
}

.hero-logo {
  display: block;
  margin-top: 49px;
  margin-left: 49px;
  font-weight: 300;
  font-size: 36px;
  line-height: 43px;
  color: #fff;
}

.about-us-wrapper {

}

.hero-since {
  margin-top: 292px;
  margin-left: 49px;
  max-width: 95px;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.05em;
  color: #fff;
}

.hero-menu {
  display: flex;
  align-items: center;
  margin-top: 47px;
  margin-right: 50px;
  margin-left: auto;
  max-width: 160px;
  height: 49px;
}

.hero-entry {
  margin-right: 43px;
  height: 31px;
  border: none;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  color: #fff;
  background: none;
  cursor: pointer;
}

.hidden {
  display: none;
}

.blurrable:hover {
  cursor: pointer;
  backdrop-filter: blur(10px);
  transition: 0.2s;
}

.transparent-background {
  background-color: transparent;
  background-image: none;
}

.opened-nav-background {
  background-image: url(/img/Rectangle\ 56.png);
  background-size: cover;
}

.hero-entry-avatar {
  margin-top: 5px;
  margin-right: 43px;
}

.popup-wrapper {
  position: fixed;
  top: 0;
  left:  0;
  display: none;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 9999;
}

.link-item {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 600;
  font-size: 40px;
  line-height: 97%;
  text-align: center;
  color: #fff;
}

.popup {
  width: 300px;
  height: 300px;
}

.active-popup {
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.hero-login--active {
  padding: 20px;
  max-width: 1000px;
  background: #fff;
}

.login-logo {
  font-weight: 300;
  font-size: 36px;
  line-height: 43px;
}

.login-cross {
  border: none;
  background: none;
  cursor: pointer;
}

.login-title {
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: 500;
  line-height: 40px;

}

.login-form {
  display: flex;
  flex-direction: column;
}

.form-label {
  margin-bottom: 20px;
}

.form-input {
  padding: 5px;
  border: none;
  width: 100%;
  font-size: 14px;
}

.form-btn {
  display: inline-block;
  padding: 14px 0;
  border: none;
  min-width: 150px;
  height: 50px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  color: #fff;
  outline: 0;
  background: var(--main-color);
  cursor: pointer;
}

.hero-burger {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  padding: 0;
  border: none;
  outline: none;
  height: 12px;
  background: none;
  cursor: pointer;
}

.hero-burger-line {
  border-top: 2px solid #fff;
  width: 60px;
  height: 2px;
}

.hero-burger-line:first-child {
  margin-bottom: 8px;
}

.hero-heading {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 561px;
  height: 270px;
  font-weight: 600;
  font-size: 82px;
  line-height: 110%;
  color: #fff;
}

.hero-small-img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto 0;
  width: 363px;
  height: 396px;
  background-image: url(/img/Rectangle\ 55.jpg);
  background-repeat: no-repeat;
}



/* chart */

.chart-container {
  padding: 128px 255px 150px 255px;
}

.chart-top {
  margin-bottom: 38px;
}

.chart-header {
  margin-bottom: 30px;
  font-weight: 600;
  font-size: 65px;
  line-height: 120%;
}

.chart-header-2 {
  font-weight: 500;
  font-size: 45px;
  color: var(--main-color);
}

.chart-top-description {
  max-width: 390px;
  font-weight: 400;
  font-size: 24px;
  line-height: 130%;
  text-align: justify;
}

.chart-bottom {
  display: flex;
  justify-content: space-between;
}

.chart-bottom-img {
  margin-top: 100px;
  margin-right: 30px;
  min-width: 150px;
  height: 150px;
  background-image: url('../img/Ellipse\ 25.jpg');
}

.chart-bottom-description {
  max-width: 438px;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  text-align: justify;
}

.chart-bottom-description:first-child {
  margin-bottom: 30px;
}

/* slider */

.slider-container {
  height: 790px;
  background-color: var(--main-color);
  position: relative;
}

.slider-slide {
  /* position: relative; */
  padding-top: 102px;
  padding-left: 198px;
  width: 100%;
  height: 100%;
  color: #fff;
}

.slide-name {
  margin-bottom: 15px;
  font-weight: 600;
  font-size: 30px;
  line-height: 120%;
}

.slide-info {
  display: flex;
  margin-bottom: 110px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.slide-info-metro {
  margin-right: 10px;
}

.slide-info-time {
  padding-left: 20px;
  background-image: url(/img/Group\ 105.svg);
  background-repeat: no-repeat;
  background-position: left;
}

.slider-slide-heading {
  max-width: 917px;
  font-weight: 600;
  font-size: 128px;
  line-height: 97%;
}

.slide-1 {
  background-image: url(/img/Rectangle\ 56.png);
}

.slide-2 {
  background-image: url(/img/Rectangle\ 48.png);
}

.slide-3 {
  background-image: url(/img/Balconies-1024px.png);
}

.slide-4 {
  background-image: url(/img/1585394614_1.jpeg);
  background-size: contain;
}

.slider-pagination-list {
  position: absolute;
  left: 198px;
  bottom: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80px;
}

.slider-pagination-item {

}

.slider-pagination-dot {
  padding: 0;
  width: 10px;
  height: 10px;
  border: none;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, .4)
}

.slider-pagination-dot--active {
  width: 15px;
  height: 15px;
  background-color: #fff;
}

.slider-slide {
  display: none;
}

.slider-slide--active {
  display: block;
}

/* projects */

.projects-container {
  padding-top: 98px;
  padding-right: 195px;
  padding-bottom: 80px;
  padding-left: 195px;
}

.projects-header-wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 74px;
}

.projects-filter {
  padding-right: 60px;
  border: none;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  background: url(../img/Vector.svg);
  background-repeat: no-repeat;
  background-position: right;
  cursor: pointer;
}

.modal {
  position: absolute;
  display: none;
  right: 0;
  top: 146px;
  width: 450px;
  height: 620px;
  background-color: var(--main-color);
  z-index: 1;
}

.modal--active {
  display: block;
}

.projects-list {
  display: flex;
  flex-wrap: wrap;
}

.projects-item {
  position: relative;
  margin-bottom: 55px;
  cursor: pointer;
}

.projects-item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.project-img {
  margin-bottom: 25px;
  width: 330px;
  height: 247px;
}

.project-keys-wrapper {
  position: absolute;
  top: 30px;
  left: 30px;
  padding: 6px 9px;
  border-radius: 10px;
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
}

.project-keys {
  padding-left: 25px;
  background: url(../img/keys\ 1.svg);
  background-repeat: no-repeat;
  background-position: left;
}

.project-price {
  position: absolute;
  top: 190px;
  left: 30px;
  padding: 5px 7px;
  border-radius: 8px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  background-color: #F8F8F8;
}

.project-heading {
  margin-bottom: 17px;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #171717;
}

.project-city {
  padding-left: 20px;
  margin-bottom: 13px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  background: url(../img/Human.svg);
  background-repeat: no-repeat;
  background-position: left;
}

.project-metro {
  padding-left: 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  background: url(../img/Location.svg);
  background-repeat: no-repeat;
  background-position: left;
}

.project-time {
  color: #9E9E9E;
}

/* team */

.team-container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 150px;
}

.member-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 198px;
  padding-right: 67px;
  padding-left: 67px;
  max-width: 359px;
  min-height: 790px;
  transition: background-color .3s ease-in-out;
}

.member-img {
  margin-bottom: 25px;
  max-width: 222px;
  border-radius: 999px;
}

.member-name {
  font-weight: 500;
  font-size: 24px;
  line-height: 120%;
}

.member-lastname {
  margin-bottom: 25px;
  font-weight: 500;
  font-size: 24px;
  line-height: 120%;
}

.member-ocupation {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #777;
}

.member-wrapper:hover {
  background-color: var(--main-color);
}

.member-wrapper:hover .member-name,
.member-wrapper:hover .member-lastname,
.member-wrapper:hover .member-ocupation {
  color: #fff;
}

/* financial-results */

.financial-results-container {
  margin-bottom: 150px;
  padding-left: 195px;
  padding-right: 195px;
}

.results-heading {
  margin-bottom: 59px;
}

.resuls-values-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 95px;
}

.result-value-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  flex-wrap: wrap;
  padding-top: 25px;
  padding-bottom: 20px;
  padding-left: 20px;
  max-width: 190px;
  background: #C4EC1C;
  box-shadow: 0px 8px 19px 1px #9CBD12;
  color: #545454;
}

.result-value-container:not(:last-child) {
  margin-right: 25px;
}

.value-1 {
  min-height: 186px;
}

.value-2 {
  min-height: 292px;
}

.value-3 {
  min-height: 361px;
}

.value-4 {
  min-height: 255px;
}

.value-5 {
  min-height: 200px;
}

.value-count {
  font-weight: 600;
  font-size: 36px;
  line-height: 120%;
}

.value-currency,
.value-description {
  max-width: 120px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.results-description {
  margin-bottom: 35px;
  margin-left: auto;
  max-width: 405px;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  text-align: justify;
}

.results-button {
  display: flex;
  align-items: center;
  padding-left: 60px;
  padding-right: 60px;
  margin-left: auto;
  width: 405px;
  min-height: 60px;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  background-color: #C4EC1C;
  color: #545454;
  transition: background-color .3s ease-in-out;
}

.results-button:hover {
  background-color: var(--main-color);
}

/* terms */

.terms-container {
  padding-left: 195px;
  padding-right: 195px;
}

.terms-heading {
  margin-bottom: 59px;
  max-width: 834px;
}

.terms-description {
  margin-bottom: 50px;
  max-width: 660px;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  text-align: justify;
}

.terms-content-top {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 56px;
}

.terms-profit {
  margin-right: 20px;
  margin-bottom: 20px;
  max-width: 447px;
}

.profit-heading {
  margin-bottom: 36px;
  font-weight: 500;
  font-size: 30px;
  line-height: 120%;
}

.profit-buttons-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

.profit-button {
  display: inline-block;
  padding: 15px 0;
  width: 145px;
  height: 50px;
  outline: 1px solid #DDDDDD;
  border-radius: 28px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #111;
  transition: background-color .3s ease-in-out, color .3s ease-in-out;
}

.profit-button:hover {
  outline: none;
  background-color: var(--main-color);
  color: #fff;
}

.profit-form-placeholder-title {
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #777;
}

.profit-form-placeholder {
  margin-bottom: 25px;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 20px;
  width: 447px;
  height: 60px;
  background: #F9F9F9;
  border: 1px solid #DDD;
}

.profit-form-placeholder-1::-webkit-outer-spin-button,
.profit-form-placeholder-1::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.profit-form-placeholder-2 {
  margin-bottom: 50px;
}

.profit-form-btn {
  width: 447px;
  height: 60px;
  border: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  background-color: var(--main-color);
  color: #fff;
  cursor: pointer;
  transition: background-color .3s ease-in-out, color .3s ease-in-out;
}

.profit-form-btn:hover {
  background-color: #C4EC1C;
  color: #545454;
}

.terms-card {
  padding: 55px 65px;
  max-width: 514px;
  box-shadow: 0px 7px 16px 4px rgba(216, 216, 216, 0.25);
}

.card-title {
  margin-bottom: 30px;
  font-weight: 500;
  font-size: 30px;
  line-height: 120%;
  color: var(--main-color);
}

.card-item:not(:nth-child(3)) {
  margin-bottom: 30px;
}

.card-number {
  margin-bottom: 5px;
  font-weight: 500;
  font-size: 30px;
  line-height: 120%;
}

.card-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #777;
}

.terms-card-bottom {
  margin-left: auto;
  background-color: var(--main-color);
}

.card-title-bottom,
.card-number-bottom {
  color: #fff;
}

.card-description-bottom {
  color: #DDD;
}

